<div class="encrypt-container">
    <form [formGroup]="introduceUsername" style="padding-bottom: 10px; width: 800px;" class="encrypt">
        <span class="encrypt-header">Introduce your username</span>
            <label style=" margin-bottom: 20px;">Username<input formControlName="username" type="bigint" placeholder="Introduce your username" ></label>
        <div style="width: 62%; display: inline-flex; justify-content: center; margin-bottom: 20px;">
        <div style="margin-right: 4%; display: flex; flex-direction: column; width: 62%;">
        </div>
        <div class="limit">
            <p>{{message}}</p>
        </div>
    </div>
        <button (click)="createAnonimousUser()"class="encrypt-button" type="button"><b>Username</b></button>
        
    </form>
    
  </div>
  
  
  
   