<div class="blind-container">
    <form [formGroup]="textToBlind" style="padding-bottom: 10px; width: 800px;" class="blind">
        <span class="blind-header">Blind sign your message</span>
            <label style=" margin-bottom: 20px;">Blinded message signed<input formControlName="messagetoblind" type="bigint" placeholder="Introduce your message" ></label>
        <div style="width: 62%; display: inline-flex; justify-content: center; margin-bottom: 20px;">
        <div style="margin-right: 4%; display: flex; flex-direction: column; width: 62%;">
        </div>
    </div>
        <button (click)="blind()" class="blind-button" type="button"><b>Blind</b></button>
        <div class="limit">
          <p>Blind message: {{blindedMessage?.blinded}}</p>
      </div>
      <label style=" margin-bottom: 20px;">Verify your blinded message<input formControlName="messagetounblind" type="bigint" placeholder="Message to be decrypted" ></label>
      <button (click)="signblind()" class="blind-button" type="button"><b>Verify</b></button>
      <div class="limit">
        <p>Message verified: {{unblindedMessage?.unblinded}}</p>
      </div>
  
    </form>
    
  </div>
  
  
  
   