<div class="sign-container">
    <form [formGroup]="textToSign" style="padding-bottom: 10px; width: 800px;" class="sign">
        <span class="sign-header">Sign your message</span>
            <label style=" margin-bottom: 20px;">Message<input formControlName="messagetosign" type="bigint" placeholder="Introduce your message" ></label>
        <div style="width: 62%; display: inline-flex; justify-content: center; margin-bottom: 20px;">
        <div style="margin-right: 4%; display: flex; flex-direction: column; width: 62%;">
        </div>
    </div>
        <button (click)="signMessage()" class="sign-button" type="button"><b>Sign</b></button>
        <div class="limit">
          <p>Mensaje firmado: {{signedMessage?.signed}}</p>
      </div>
      <label style=" margin-bottom: 20px;">Verify your message<input formControlName="messagetoverify" type="bigint" placeholder="Message to be verified" ></label>
      <button (click)="verifyMessage()" class="sign-button" type="button"><b>Verify</b></button>
      <div class="limit">
        <p>Mensaje verificado: {{verifiedMessage?.verified}}</p>
      </div>
  
    </form>
    
  </div>
    